*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Poppins, sans-serif;
}

body{
  background: url('./images/pokemon-bg3.png');
  background-position: 50% 1800px ;
}

.btn:hover{
  background-color: #fdc000;
}

.btn:active{
  transform: scale(0.9);
}

@media (max-height: 1200px){
  body{
    background-position: 50% 1600px ;
  }
}

@media (max-height: 1100px){
  body{
    background-position: 50% 1500px ;
  }
}

@media (max-height: 1000px){
  body{
    background-position: 50% 1400px ;
  }
}
  
@media (max-height: 900px){
  body{
    background-position: 50% 1350px ;
  }
}

@media (max-height: 800px){
  body{
    background-position: 50% 1300px ;
  }
}

@media (max-height: 700px){
  body{
    background-position: 50% 1150px ;
  }
}

